---
import { getCollection } from "astro:content";
import Container from "../components/Container.astro";
import Section from "../components/Section.astro";

const allEvents = await getCollection("events");

const coworkingDays = [
  new Date("2024-07-26"),
  new Date("2024-08-30"),
  new Date("2024-09-27"),
];

const isUpcoming = (date: Date) => new Date().getTime() < date.getTime();
---

<Section style="contrast">
  <Container>
    <h2 id="events" class="events__title">
      Events <a class="anchor" href="#events">#</a>
    </h2>
    <div class="events__grid events__grid--spacer">
      {
        allEvents.reverse().map(({ data }) => {
          const { id, name, description, dateStart, locationText, ticketText } =
            data;
          const dateStartParsed = dateStart.toLocaleDateString("en-GB", {
            weekday: "long",
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
          });
          return (
            <a href={`/events/${id}`} class="events__item events__item--link">
              <span class="events__item-label">
                {isUpcoming(dateStart) ? "Upcoming event" : "Past event"}
              </span>
              <h3 class="events__item-name">{name}</h3>
              <p class="events__item-description">{description}</p>
              <ul class="events__item-list">
                <li class="events__item-list-item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="events__item-icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 1.75a.75.75 0 0 1 1.5 0V3h5V1.75a.75.75 0 0 1 1.5 0V3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2V1.75ZM4.5 6a1 1 0 0 0-1 1v4.5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-7Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <time datetime={dateStart.toISOString()}>
                    {dateStartParsed}
                  </time>
                </li>
                <li class="events__item-list-item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="events__item-icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  {locationText}
                </li>
                <li class="events__item-list-item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="events__item-icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0ZM7.94 4.94c-.294.293-.44.675-.44 1.06v1.25h1.25a.75.75 0 1 1 0 1.5H7.5v1c0 .263-.045.516-.128.75h3.878a.75.75 0 0 1 0 1.5h-6.5a.75.75 0 0 1 0-1.5h.5A.75.75 0 0 0 6 9.75v-1H4.75a.75.75 0 0 1 0-1.5H6V6a3 3 0 0 1 5.121-2.121.75.75 0 1 1-1.06 1.06 1.5 1.5 0 0 0-2.121 0Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  {ticketText}
                </li>
              </ul>
              <p class="events__more" aria-label={`Read more ${name}`}>
                Read more »
              </p>
            </a>
          );
        })
      }
    </div>
    <h2 id="coworking-days" class="events__title events__title--small">
      NN1 Dev Club coworking days <a class="anchor" href="#coworking-days">#</a>
    </h2>
    <p class="events__day-description">
      It is an incredible opportunity to collaborate, share knowledge, and
      discuss tabs vs. spaces. Just pop into <a
        href="https://maps.app.goo.gl/q7RFeDME5cLZWPFA7">Vulcan Works</a
      >
      and join other NN1 Dev Club members. Of course, it is FREE!
    </p>
    <div class="events__grid events__grid--coworking">
      {
        coworkingDays.map((day) => {
          const dateStartParsed = day.toLocaleDateString("en-GB", {
            weekday: "long",
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
          });
          return (
            <div class="events__item">
              <span class="events__item-label">
                {isUpcoming(day)
                  ? "Upcoming coworking day"
                  : "Past coworking day"}
              </span>

              <ul class="events__item-list">
                <li class="events__item-list-item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="events__item-icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 1.75a.75.75 0 0 1 1.5 0V3h5V1.75a.75.75 0 0 1 1.5 0V3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2V1.75ZM4.5 6a1 1 0 0 0-1 1v4.5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-7Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <time datetime={day.toISOString()}>{dateStartParsed}</time>
                </li>
                <li class="events__item-list-item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="events__item-icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0ZM7.94 4.94c-.294.293-.44.675-.44 1.06v1.25h1.25a.75.75 0 1 1 0 1.5H7.5v1c0 .263-.045.516-.128.75h3.878a.75.75 0 0 1 0 1.5h-6.5a.75.75 0 0 1 0-1.5h.5A.75.75 0 0 0 6 9.75v-1H4.75a.75.75 0 0 1 0-1.5H6V6a3 3 0 0 1 5.121-2.121.75.75 0 1 1-1.06 1.06 1.5 1.5 0 0 0-2.121 0Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  FREE
                </li>
              </ul>
            </div>
          );
        })
      }
    </div>
  </Container>
</Section>

<style>
  .events__title {
    font-weight: 800;
    font-size: calc(var(--fz) * 1.5);
    margin-block-end: var(--lh);

    @media (800px <= width) {
      font-size: calc(var(--fz) * 2);
      line-height: calc(var(--lh) * 1.5);
    }
  }

  .events__title--small {
    font-size: calc(var(--fz) * 1.25);

    @media (800px <= width) {
      font-size: calc(var(--fz) * 1.5);
    }
  }

  .events__grid {
    display: grid;
    gap: var(--lh);

    @media (800px <= width) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .events__grid--coworking {
    @media (800px <= width) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .events__grid--spacer {
    margin-block-end: calc(var(--lh) * 2);
  }

  .events__item {
    box-shadow: inset 0 0 0 1px var(--color-border);
    background-color: var(--color-bg);
    padding: var(--lh);
    color: inherit;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: calc(var(--lh) * 0.75);
  }

  .events__item--link {
    &:hover {
      box-shadow: inset 0 0 0 1px var(--color-accent);
      color: var(--color-accent);
    }
  }

  .events__day-description {
    max-width: 60ch;
    margin-block-end: var(--lh);
  }

  .events__item-label {
    display: inline-block;
    box-shadow: inset 0 0 0 1px var(--color-border);
    background-color: var(--color-bg-contrast);
    border-radius: 4px;
    padding: calc(var(--lh) / 4) calc(var(--lh) / 2);
    font-size: calc(var(--fz) * 0.875);
    width: fit-content;

    &::before {
      content: "#";
    }
  }

  .events__item-list {
    list-style: none;
    font-size: calc(var(--fz) * 0.875);
  }

  .events__item-list-item {
    display: flex;
    align-items: center;
    gap: calc(var(--lh) / 2);
  }
  .events__item-icon {
    width: 16px;
    height: 16px;
    opacity: 0.5;
  }

  .events__more {
    margin-block-start: auto;
    color: var(--color-accent);
    text-decoration: underline;
    font-size: calc(var(--fz) * 0.875);
  }
</style>
