---
interface Props {
  title: string;
  level: 1 | 2 | 3 | 4 | 5 | 6;
  anchor?: boolean;
}

const { title, level, anchor } = Astro.props;
const id = title
  .toLowerCase()
  .replaceAll(" ", "-")
  .replace(/[^A-Za-z0-9\-]/g, "");
---

{
  level === 1 ? (
    <h1 id={id}>
      {title}{" "}
      {anchor ? (
        <a class="anchor" href={`#${id}`}>
          #
        </a>
      ) : null}
    </h1>
  ) : null
}
{
  level === 2 ? (
    <h2 id={id}>
      {title}{" "}
      {anchor ? (
        <a class="anchor" href={`#${id}`}>
          #
        </a>
      ) : null}
    </h2>
  ) : null
}
{
  level === 3 ? (
    <h3 id={id}>
      {title}{" "}
      {anchor ? (
        <a class="anchor" href={`#${id}`}>
          #
        </a>
      ) : null}
    </h3>
  ) : null
}
{
  level === 4 ? (
    <h4 id={id}>
      {title}{" "}
      {anchor ? (
        <a class="anchor" href={`#${id}`}>
          #
        </a>
      ) : null}
    </h4>
  ) : null
}
{
  level === 5 ? (
    <h5 id={id}>
      {title}{" "}
      {anchor ? (
        <a class="anchor" href={`#${id}`}>
          #
        </a>
      ) : null}
    </h5>
  ) : null
}
{
  level === 6 ? (
    <h6 id={id}>
      {title}{" "}
      {anchor ? (
        <a class="anchor" href={`#${id}`}>
          #
        </a>
      ) : null}
    </h6>
  ) : null
}

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-weight: 800;
  }

  h1 {
    font-size: calc(var(--fz) * 2);
    line-height: calc(var(--lh) * 1.5);

    @media (800px <= width) {
      font-size: calc(var(--fz) * 2.625);
      line-height: calc(var(--lh) * 2);
    }
  }

  h2 {
    font-size: calc(var(--fz) * 1.5);

    @media (800px <= width) {
      font-size: calc(var(--fz) * 2);
      line-height: calc(var(--lh) * 1.5);
    }
  }

  h3 {
    font-size: calc(var(--fz) * 1.5);

    @media (800px <= width) {
      font-size: calc(var(--fz) * 1.75);
      line-height: calc(var(--lh) * 1.5);
    }
  }

  .anchor {
    color: var(--color-border);
    text-decoration: none;
    margin-inline-start: calc(var(--lh) / 4);

    &:hover {
      color: var(--color-accent);
      opacity: 1;
    }
  }
</style>
