---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Container from "../components/Container.astro";
import Section from "../components/Section.astro";

const allSpotlights = await getCollection("spotlight");
---

<Section style="contrast">
  <Container>
    <div class="spotlight">
      {
        allSpotlights
          .filter(
            (event) =>
              import.meta.env.MODE === "development" || !event.data.draft,
          )
          .sort(
            (a, b) =>
              new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
          )
          .map(({ data: { name, role, date, image }, id }) => {
            return (
              <a href={`/spotlight/${id}`} class="spotlight__item" data-id={id}>
                <div class="spotlight__item-content">
                  <Image
                    src={image}
                    alt={name}
                    width="168"
                    height="168"
                    loading="lazy"
                    class="spotlight__item__image"
                  />
                  <div class="spotlight__item__info">
                    <h2 class={`spotlight__item-name`}>{name}</h2>
                    <p class={`spotlight__item-role`}>{role}</p>
                    <date class={`spotlight__item-date`}>
                      Published:{" "}
                      {date.toISOString().slice(0, 10).replace(/-/g, ".")}
                    </date>
                  </div>
                </div>
              </a>
            );
          })
      }
    </div>
  </Container>
</Section>

<style>
  .spotlight {
    display: grid;
    gap: calc(var(--lh) / 2);

    @media (800px <= width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (1100px <= width) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .spotlight__item {
    box-shadow: 0 0 0 1px var(--color-border);
    background-color: var(--color-bg);
    padding: 0.5lh;
    color: inherit;
    border-radius: var(--br);
    text-decoration: none;
    display: block;
    min-width: 0;

    &:hover {
      box-shadow: 0 0 0 1px var(--color-accent);
      color: var(--color-accent);
    }
  }

  .spotlight__item-name {
    max-width: 60ch;
  }

  .spotlight__item__info {
    min-width: 0;
    flex-grow: 1;
  }

  .spotlight__item-role {
    opacity: 0.5;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .spotlight__item-date {
    font-size: 14px;
    opacity: 0.5;
  }

  .spotlight__item-content {
    display: flex;
    flex-direction: row;
    gap: 0.5lh;
  }

  .spotlight__item__image {
    width: 3lh;
    height: 3lh;
    object-fit: cover;
    border-radius: var(--br);
  }
</style>
