---
import { API_KEY_TICKETS } from "astro:env/server";
import { getEntry } from "astro:content";
import Layout from "../../../../layouts/Layout.astro";
import Hero from "../../../../sections/Hero.astro";
import ButtonLink from "../../../../components/ButtonLink.astro";

export const prerender = false;

const { eventId, ticketId } = Astro.params;
if (!eventId || !ticketId) {
  return Astro.redirect("/404");
}

const entry = await getEntry("events", eventId);
if (entry === undefined) {
  return Astro.redirect("/404");
}

const ticketResponse = await fetch(
  `https://tickets.nn1.dev/${eventId}/${ticketId}`,
  {
    headers: {
      Authorization: `Bearer ${API_KEY_TICKETS}`,
    },
  },
);
if (!ticketResponse.ok) {
  return Astro.redirect("/404");
}

const ticketResponseJson = await ticketResponse.json();

if (!ticketResponseJson.data.value) {
  return Astro.redirect("/404");
}

const {
  data: { id, name, description },
} = entry;
---

<Layout title={`${name} | NN1 Dev Club`} description={description} noIndex>
  {
    ticketResponseJson.data.value?.confirmed ? (
      <Hero
        title="ðŸŽ‰ Your ticket is confirmed"
        description="Thanks a lot for signing up! We are looking forward to seeing you soon. Until then, stay safe!"
      >
        <p>
          Add it to your calendar:{" "}
          <a
            href={`/events/${id}/invite.ics`}
            download={`nn1-dev-club-${eventId}.ics`}
          >
            iCalendar
          </a>
          . ,{" "}
          <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20240926T170000Z%2F20240926T190000Z&details=DESCRIPTION&location=LOCATION&text=TITLE">
            Google calendar
          </a>
          ,{" "}
          <a href="https://outlook.live.com/calendar/0/action/compose?allday=false&body=DESCRIPTION&enddt=2024-09-26T20%3A00%3A00&location=LOCATION&path=%2Fcalendar%2Faction%2Fcompose&rru=addevent&startdt=2024-09-26T18%3A00%3A00&subject=TITLE">
            Outlook
          </a>
          ,{" "}
          <a href="https://calendar.yahoo.com/?desc=DESCRIPTION&dur=false&et=20240926T190000Z&in_loc=LOCATION&st=20240926T170000Z&title=TITLE&v=60">
            Yahoo Calendar
          </a>{" "}
          or{" "}
          <a href="https://outlook.office.com/calendar/0/action/compose?allday=false&body=DESCRIPTION&enddt=2024-09-26T20%3A00%3A00&location=LOCATION&path=%2Fcalendar%2Faction%2Fcompose&rru=addevent&startdt=2024-09-26T18%3A00%3A00&subject=TITLE">
            Office365
          </a>
        </p>
        <ButtonLink href={`/events/${id}`} text="Go to event details" />
      </Hero>
    ) : (
      <Hero
        title="âš ï¸ Please confirm your email"
        description="We don't like bots, so to ensure you are not one, please confirm your email address by clicking the link we just sent you. We won't ask you to do it for future signups. You will be all set up!"
      >
        <ButtonLink href={`/events/${id}`} text="Go to event details" />
      </Hero>
    )
  }
</Layout>
